[buildout]
extends =
    http://dist.plone.org/release/4.3.1/versions.cfg
parts =
    zeromq
    pyzmq
    instance
    zopepy
develop = .
eggs =
    Plone
    collective.zws

[zeromq]
recipe = hexagonit.recipe.cmmi
url = http://download.zeromq.org/zeromq-3.2.3.tar.gz

[pyzmq-env]
ZMQ_DIR = ${zeromq:location}
LIBRARY_PATH = ${zeromq:location}/lib
C_INCLUDE_PATH = ${zeromq:location}/include
LD_LIBRARY_PATH = ${zeromq:location}/lib

[pyzmq]
recipe = zc.recipe.egg:custom
egg = pyzmq==13.1.0
environment = pyzmq-env
rpath = ${zeromq:location}/lib

[instance]
recipe = plone.recipe.zope2instance
eggs = ${buildout:eggs}
environment-vars =
    PTS_LANGUAGES en fi
    zope_i18n_allowed_languages en fi
    zope_i18n_compile_mo_files true
http-address = 8080
user = admin:admin
zope-conf-additional =
    %import collective.zws
    <websocket-server>
        host localhost
        port 8081
    </websocket-server>

[zopepy]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
interpreter = zopepy
